body {
  background-color: black;
  font-family: 'Viga', sans-serif;
  color: white; 

}

.viga-regular {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar{
  display:flex;
  padding:5px;
  font-size: 30px;
  color: white;
  background-color:black;
  height:auto;
  justify-content: space-between;
  margin-top:0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: solid;
  border-bottom: 3px solid white;
}

.navbar-right ul{
  display: flex;
  color: black;
  gap:30px;
  list-style-type: none;
 overflow: hidden;
  margin:0px;
  text-decoration: none;
  justify-content:right;
}

.navbar-right a{
  color:white;
  text-decoration: solid;
}

.navbar-right a:hover{
  color:rgb(207, 202, 202);
}

.navbar-left{
  color: beige;
  display: flex;
  flex-direction: column;
}

.img1 img{
  border-radius: 9%;
  margin:10px;
  padding:10px;
  transition: transform 0.3s ease;
  width:200px;
  height:300px;
}

.img1 img:hover{
  transform:scale(1.1);
  cursor:pointer;
  border-color: white;
}


.genre{
  padding-top:20px;
  padding-left:1px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:5px;
  
}

.hr{
  height: 10px;
  background-color: black;
  border: none;
}

.section{
  display:flex;
  flex-direction: row;
}

.coming-soon{
  margin: 5px;
  border:solid;
  padding:5px;
  border-color: azure;
  justify-content: center;
  color:azure;
}

.offers{
  margin: 5px;
  border:solid;
  padding:5px;
  border-color: whitesmoke;
  color:azure;
}

.coming-soon-items ul{
  list-style: none;
  display: flex;
  color:azure;
  
  }

  .items{
     margin: 5px;
  border:solid;
  padding:5px; 
  color:white;
  }

  .footer{
    background-color: black;
    color: white;
    justify-content: center;
    padding:0px;
  }

  .footer ul{
    list-style: none;
    display:flex;
    justify-content: center;
    gap:30px;
    font-size: 30px;
  }

  .central-text ul{
    display:flex;
    list-style: none;
    gap:180px;
    font-size: 40px;
    padding-left: 80px;
  }

.book-now ul{
  list-style: none;
  display:flex;
  gap:200px;
  padding-left: 160px;
}

.book-now-buttons button {
  border-radius: 10%;
  border-width:10px;
  padding: 5px;
  margin-top: 10px;;
}

.book-now-buttons button a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: 'Viga', sans-serif;
}

.book-now-buttons button a:hover{
  color:grey;
  font-size: 105%;
} 

.offers ul {
  display: flex;
  list-style: none;
  gap:5px;
  color:whitesmoke;
}

.offer-box{
  border:solid;
  padding:5px;
}

.mov-card{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
  color:whitesmoke ;
  padding:20px;
  border-color: rgb(120, 111, 120);
  border:solid;
  border-width: 1px;
  margin:7px;
  background-color: rgba(40, 37, 37, 0.732);
  border-radius: 5%;
  transition: transform 0.3s ease, box-shadow 0.3s;
  padding-top: 5px;
}

.mov-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 15px 35px rgba(0,0,0,0.8);
}

.sub{
  font-size: 20px;
}
@media screen and (width<=768px){
  .central{
    display: flex;
  flex-direction: column;
  }

  .navbar-right ul{
    display: flex;
    flex-direction: column;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    height:fit-content;
    padding:15px;
    background-color: black;
    align-items: center;
  }
  .navbar-right ul a{
    color:aliceblue
  }

  .section{
    display: flex;
    flex-direction: wrap;
  }

  .coming-soon-items ul{
    display: flex;
    flex-direction: column;
    color: aqua;
  }

  .offers ul{
    display: flex;
    flex-wrap: wrap;
  }

  .img1 img{
    
    width: 200px;
    height:200px;
  }

  .mov-card{
    font-size: 25px;
  }

  .book-now-buttons button{
    font-size: 25px;;
  }
}

@media screen and (max-width: 320px){
  .navbar{
    font-size: 15px;
  }
  .mov-card{
    font-size:15px;
  }

  .img1 img{
    width:250px;
    height:250px;
  }
}
